#lecture-container {
  margin: 0;
  padding: 0;
  padding: 50px 100px 50px 100px;
}

.lture {
  margin: 10px 160px 25px 160px;
}

#lecture-star {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

#lecture-star re {
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
}

#lecture-star li {
  font-size: 13px;
}

#html-lecture {
  text-align: left;
  font-size: 30px;
}

#blackcow aw {
  user-select: none;
}

#blackcow {
  padding-left: 20px;
}

#lecture-btn {
  background: #ff5554;
  color: #ffffff;
  border-radius: 5px;
  width: 280px;
  height: 77px;
  border: #ff5554;
  display: block;
  /* color: #ff0000; */
  text-align: center;
  font-weight: 600;
}

#lecture-btn:hover {
  background-color: #ff4444;
  color: white;
  cursor: pointer;
}

.Card-lecture {
  display: flex;
}

.Card-lecture-1 {
  padding-right: 29px;
}

.Card-lecture img {
  border-radius: 10px;
  width: 1027.5px;
  height: 639.67px;
}

#light .lecture-btn-main {
  padding: 20px 20px 0px 20px;
  border: solid 1px #d2d2d7;
  background-color: #fafafa;
  height: 250px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
}

#dark .lecture-btn-main {
  padding: 20px 20px 0px 20px;
  border: solid 1px #d2d2d7;
  background-color: #1d1d1fe6;
  border-radius: 8px;
  height: 250px;
  font-size: 14px;
  font-weight: bold;
}

#light .price1-lecture {
  text-decoration: line-through;
  color: #d2d2d7;
  font-size: 14px;
  margin-top: 20px;
  font-weight: normal;
}

#dark .price1-lecture {
  text-decoration: line-through;
  color: #777777;
  font-size: 14px;
  margin-top: 20px;
  font-weight: normal;
}

#light .pr-le {
  color: #444444;
  /* font-weight: normal; */
}

#dark .pr-le {
  color: #fafafa;
  /* font-weight: normal; */
}

.pr1-lect {
  text-align: left;
  color: #777777;
  font-size: 12px;
  display: flex;
}

.fasig-le {
  margin-left: 215px;
}

#light .home-lecture {
  border: solid 1px #d2d2d7;
  background-color: #fafafa;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  height: 70px;
  width: 1030px;
  text-align: left;
}

#dark .home-lecture {
  border: solid 1px #d2d2d7;
  background-color: #1d1d1fe6;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  height: 70px;
  width: 1030px;
  text-align: left;
}

.home-lecture li {
  padding: 23px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#hl1 {
  color: #ff5554;
  margin-left: 5px;
}

.image-lecture-detail img {
  width: 1027.72px;
  height: 414.99px;
}

.text-lecture {
  text-align: left;
  font-size: 16px;
  margin-top: 40px;
}

.text-lecture h3 {
  font-size: 18px;
}

.doyou-lect {
  margin-top: 90px;
  text-align: left;
  overflow: hidden;
}

#light .doyou-lect p {
  text-align: center;
  color: #000000;
  margin-top: 10px;
  cursor: pointer;
}

#dark .doyou-lect p {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
}

.doyou-lect h3 {
  font-size: 16px;
}

.doyou-lect img {
  max-width: 100%;
  height: auto;
  display: block;
}

#cart-lecture {
  height: 40px;
}

#cart-lecture2 {
  height: 40px;
}
