.lecture-App {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-top: 150px;
}


.lte {
  margin-top: 100px;
  margin-left: 35px;
}

.lecture-mlyon {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-front h1 {
  font-size: 80px;
  padding-top: 100px;
}

.lecture-varil {
  margin-top: 30px;
  margin-bottom: 100px;
}

#lt-btn {
  margin: 10px;
}

.lecture-btn {
  margin-right: 20px;
}

.lecture-varil h2 {
  font-size: 60px;
}

.lecture-varil p {
  font-size: 35px;
}

.App-lecture {
  padding: 0px 300px 800px 340px;
  cursor: pointer;
}

.lecture-container {
  float: left;
}

.App-lecture img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin: 25px;
}

.App-lecture p:hover {
  color: #ff0000;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#filter-le {
  background-color: #d2d2d7;
  color: #000000;
  border: #d2d2d7;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
}
