* {
    margin: 0;
    padding: 0;
}

.Reference_main {
    display: flex;
}

.Reference_nav {
    min-width: 18%;
    background-color: white;
    text-align: left;
    border-right: 1px solid lightgray;
}

#dark .Reference_nav {
    background-color: black;
    color: white;
    border-right: 1px solid gray;
}

.Reference_section {
    width: 100%;
    padding: 3%;
    text-align: left;
}

.Reference_hidden {
    display: none;
}

.contents_title {
    margin-top: 30px;
}
.contents_title:first-child{
    margin-top: 0px;
}
.contents_subtitle{
    margin-top: 20px;
}

.Reference_navbar_title {
    cursor: pointer;
    margin-left: 5%;
    font-size: calc(1.3vw);
}

#dark .Reference_navbar_title {
    color: white;
}

.Reference_navbar_list {
    width: 100%;
    margin-left: 1%;
    font-size: calc(1.1vw);
    cursor: pointer;
}
#navbar-example3{
    border-top: 1px solid lightgray;
}
#dark #navbar-example3{
    border-top: 1px solid gray;
}
.Reference_hidden{
    display: none;
}
.code_text_area {
    background-color: #1e1e1e;
    color: #d4d4d4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    resize: none;
    outline: none;
    box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.1);
    text-align: left;
  }
  h3{
    font-weight: bold;
  }
h4{
    padding-top: 20px;
}
h3, h4 {
    padding-bottom: 10px;
}

.test{
    background: red;
}


.reference_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Reference_rightside{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.reference_comment{
    text-align: left;
    margin: 5%;
}

.reference_comment_writing{
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
}

.reference_comment_textbox{
    width: 75%; height: 60px;
    padding-left: 1%;

}


#dark .reference_comment_textbox{
    background-color: black;
    color: white;
    border: 1px solid white;

}


.reference_comment_btn{
    width: 20%;
    
}
#dark .reference_comment_btn{
    width: 20%;
    background-color: black;
    color: white;
    border: 1px solid white;
}

#dark .reference_comment_textbox::placeholder{
    color: lightgray;
}

.reference_comment_list{
    display: flex;
    padding: 0.5%;
}
.comment_writer{
    font-weight: bold;
    padding-left: 2.5%;
    min-width: calc(18%);
}
.comment_content{
    min-width: calc(70%);
}

.comment_cancelBtn {
    display: block;
    color: #ff0000;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
}

.comment_cancelBtn:hover {
    background-color: #ff0000;
    border-radius: 100%;
    color: white;
    cursor: pointer;
}